@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    font-family: "Inter", sans-serif;
    /* overflow-x: hidden !important; */
}

body {
    background-color: #0f1121 !important;
    // background-color: #212035 !important;
    visibility: hidden;
    /* overflow-x: hidden !important; */
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f2f4900;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(174, 85%, 42%);
    border-radius: "12px";
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(174, 85%, 42%, 70%);
}

.background-pattern {
    position: absolute;
    left: -100px;
    top: 0;
    right: auto;
    bottom: -100px;
    z-index: 100;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: #b87d58;
    opacity: 0.5;
    -webkit-filter: blur(130px);
    filter: blur(130px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.background-pattern0 {
    position: absolute;
    left: -100px;
    top: 0;
    right: auto;
    bottom: -100px;
    z-index: 100;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.4;
    -webkit-filter: blur(210px);
    filter: blur(210px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.background-pattern1 {
    position: absolute;
    right: -100px;
    top: 830px;
    left: auto;
    bottom: -100px;
    z-index: 30;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.5;
    -webkit-filter: blur(140px);
    filter: blur(140px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    @media (max-width: 768px) {
    }
}

.background-pattern2 {
    position: absolute;
    right: -100px;
    top: 830px;
    left: auto;
    bottom: -100px;
    z-index: 30;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #b87d58;
    opacity: 0.6;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.background-pattern3 {
    position: absolute;
    left: -100px;
    top: -150px;
    right: auto;
    bottom: -100px;
    z-index: 30;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.5;
    -webkit-filter: blur(140px);
    filter: blur(140px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.background-pattern4 {
    position: absolute;
    left: -100px;
    top: -150px;
    right: auto;
    bottom: -100px;
    z-index: 30;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #0370c3;
    opacity: 0.6;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.background-pattern5 {
    position: absolute;
    right: -100px;
    top: -150px;
    left: auto;
    bottom: -100px;
    z-index: 30;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: #c4410d;
    opacity: 0.5;
    -webkit-filter: blur(140px);
    filter: blur(140px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 12;
}

.background-pattern6 {
    position: absolute;
    right: -100px;
    top: -150px;
    left: auto;
    bottom: -100px;
    z-index: 30;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.6;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 12;
}
.background-pattern7 {
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.6;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 12;
}
.background-pattern8 {
    position: absolute;
    right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #15b9a6;
    opacity: 0.6;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 12;
}

.mid-img1 {
    clip-path: inset(100% 0% 0% 0%);
    animation-delay: 1ms;
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-text1 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.2s cubic-bezier(0.99, 0.9, 0.05, 1);

    &.is-reveal {
        transition-delay: 200ms;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-head1 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% -9% 0%);
    }
}

.mid-img2 {
    clip-path: inset(100% 0% 0% 0%);
    animation-delay: 1ms;
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-text2 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.2s cubic-bezier(0.99, 0.9, 0.05, 1);

    &.is-reveal {
        transition-delay: 200ms;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-head2 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% -9% 0%);
    }
}

.mid-img3 {
    clip-path: inset(100% 0% 0% 0%);
    animation-delay: 1ms;
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-text3 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.2s cubic-bezier(0.99, 0.9, 0.05, 1);

    &.is-reveal {
        transition-delay: 200ms;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.mid-head3 {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &.is-reveal {
        clip-path: inset(0% 0% -9% 0%);
    }
}
.heading {
    clip-path: inset(100% 0% 0% 0%);
    transition: clip-path 1.2s cubic-bezier(0.99, 0.9, 0.05, 1);

    &.is-reveal {
        transition-delay: 200ms;
        clip-path: inset(0% 0% 0% 0%);
    }
}

@media only screen and (max-width: 600px) {
    .background-pattern0 {
        top: 100vh;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.9;
    }
    .background-pattern {
        top: 100vh;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern1 {
        top: 190vh;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern2 {
        top: 190vh;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.6;
    }
    .background-pattern3 {
        top: 310vh;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern4 {
        top: 310vh;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern5 {
        top: 450vh;
        width: 300px;
        height: 300px;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern6 {
        top: 450vh;
        width: 300px;
        height: 300px;
        right: 0px;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern7 {
        top: auto;
        bottom: 0;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
    .background-pattern8 {
        top: auto;
        bottom: 0;
        height: 250px;
        width: 300px;
        opacity: 0.5;
    }
}

@media only screen and (min-width: 600px) {
    .background-pattern {
        top: 100vh;
    }
    .background-pattern0 {
        top: 100vh;
    }

    .background-pattern1 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern2 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern3 {
        top: 360vh;
    }
    .background-pattern4 {
        top: 360vh;
    }
    .background-pattern5 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
    .background-pattern6 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
}
@media only screen and (min-width: 768px) {
    .background-pattern {
        top: 100vh;
    }
    .background-pattern0 {
        top: 100vh;
    }

    .background-pattern1 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern2 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern3 {
        top: 360vh;
    }
    .background-pattern4 {
        top: 360vh;
    }
    .background-pattern5 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
    .background-pattern6 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
}
@media only screen and (min-width: 992px) {
    .background-pattern {
        top: 100vh;
    }
    .background-pattern0 {
        top: 100vh;
    }

    .background-pattern1 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern2 {
        top: 210vh;
        right: 0px;
    }
    .background-pattern3 {
        top: 360vh;
    }
    .background-pattern4 {
        top: 360vh;
    }
    .background-pattern5 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
    .background-pattern6 {
        top: 520vh;
        width: 300px;
        height: 300px;
        right: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .background-pattern {
        top: 0;
    }
    .background-pattern0 {
        top: 0;
    }

    .background-pattern1 {
        top: 100vh;
        right: 0px;
    }
    .background-pattern2 {
        top: 100vh;
        right: 0px;
    }
    .background-pattern3 {
        top: 10vh;
    }
    .background-pattern4 {
        top: 10vh;
    }
    .background-pattern5 {
        top: 0;
        width: 300px;
        height: 300px;
        right: 0px;
    }
    .background-pattern6 {
        top: 0;
        width: 300px;
        height: 300px;
        right: 0px;
    }
}
